body {
    font-family: Tahoma,'Segoe UI', Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    line-height: 1.6;
    scroll-behavior: smooth;
}
header {
    background-color: #0ba4f6;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav {
    width: 100%;
    background-color: #0d6efd;
    padding: 10px 0;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li {
    display: inline;
    margin: 0 20px;
}
nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}
.section {
    padding: 20px 20px;
}
#about {
    background-color: #f8f9fa;
    display: block;
    align-items: center;
    justify-content: space-between;
}
.about-text {
    flex: 1;
    margin-right: 40px;
}
.about-image img {
    width: 250px;
    height: 250px;
    border-radius: 50px;
    object-fit: cover;
}
.education-gallery {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.project-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    /* width: 300px; */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}
.project-item img {
    width: 100%;
    /* height: 100px; */
    /* object-fit: cover; */
    border-radius: 5px;
}
.project-gallery {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.project-item h3 {
    width: 100% ;
    border-radius: 10;

}
#contact {
    background-color: #f8f9fa;
    text-align: center;
}
footer {
    background-color: #0ba4f6;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
